@import "~tailwindcss/dist/tailwind.css";

body {
	background: #000;
}


@keyframes flash {
	0% {
		opacity: .2;
	}
	100% {
		opacity: 0;
	}
}

.Flash {
	animation: 2s flash ease-out;
	animation-fill-mode: forwards;
}
